.bloc{
margin-left:10%;
height:1000px;
width:80%;
background-color: beige;
position:relative;
}

.monC {
	position:center;
	text-align:center;
	text-decoration:underline;
	color:#63003c;
}

.bjrX {
	position:center;
	text-align:center;
}

.pp{
margin-top:5%;
margin-left:13%;
}

.infos {
	position:absolute;
	top:40%;
	margin-left:29%;
	text-align:center;
	color:#63003c;
}

.infosAdm{
	position:absolute;
	top:40%;
	margin-left:19%;
	text-align:center;
	color:#63003c;
}

.infosDoc{
	position:absolute;
	top:40%;
	margin-left:18%;
	text-align:center;
	color:#63003c;
}

.loginActuel{
}

.mdpActuel{
}
