.erreurMauvais {
	color: red;
	position:absolute;
	left:calc(45% + 5px);
	top:calc(31% + 5px);
}

.erreurVide {
	color: red;
	position:absolute;
	left:calc(44% + 5px);
	top:calc(31% + 5px);
}

.errLOG {
	color: red;
	position:absolute;
	left:calc(46% + 5px);
	top:calc(52% + 5px);
}

.errMDP {
	color: red;
	position:absolute;
	left:calc(44.5% + 5px);
	top:calc(109% + 5px);
}

.errVIDE {
	color: red;
	position:absolute;
	left:calc(44% + 5px);
	top:calc(29% + 5px);
}

