

footer {
	position:relative;
	width:100%;
	height:100%;
}

img{
	width: 268px;
	height: auto;
	position: absolute;
	top: 80px;
	left: 320px;
}


img.instagram_logo {
position: relative;
top: -7px;
left: -20%;
width: 4%;
height: 35%;
}


img.twitter_logo {
	position: relative;
	top: -7px;
	left: -18%;
width: 4%;
height: 35%;
}

img.linkedin_logo {
	position: relative;
	top: -7px;
	left: -3%;
width: 4%;
height: 35%;
}
img.youtube_logo {
	position: relative;
	top: -7px;
	left: 0%;
width: 4%;
height: 35%;
}

img.appstore_logo{
	position: relative;
	top: -164px;
	left: -25%;
height: 40%;
width: 15%;
}

img.googleplay_logo{
	position: relative;
	top: -150px;
	left: -25%;
height: 55%;
width: 12%;
}

.crédits {font-size: 18px;
color: #D6DBDF;
border-style: solid;
background-color: #313E48;
width: 100%;
height: 20%;
text-align: center;
font-family:serif;
}

.gestion {
	text-align: center;
	font-size: 12px;
	color: darkgray;
	padding: 10px;
}

@media screen and (min-width: 500px) and (max-width: 1301px){
	img.instagram_logo {
position: relative;
top: -40px;
left: -22%;
width: 6%;
height: 30%;
}


img.twitter_logo {
	position: relative;
	top: -40px;
	left: -22%;
width: 6%;
height: 30%;
}

img.linkedin_logo {
	position: relative;
	top: -40px;
	left: -1%;
width: 6%;
height: 30%;
}
img.youtube_logo {
	position: relative;
	top: -40px;
	left: 0%;
width: 6%;
height: 30%;
}

img.appstore_logo{
	position: relative;
	top: -225px;
	left: -23%;
height: 26%;
width: 16%;
}

img.googleplay_logo{
	position: relative;
	top: -212px;
	left: -23%;
height: 40%;
width: 12%;
}
}	
