
.grp {
   
    align-items: center; /* centre horizontalement les éléments */
    justify-content: center; /* centre verticalement les éléments */
    width: 200px;
    height: 350px;
    border: none; /* supprime la bordure */
    margin: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* ajoute une ombre derrière le bloc */
    border-radius: 10px; /* ajoute des coins arrondis */
	display: flex; /* permet de centrer les éléments à l'intérieur du bloc */
    float:left; /* permet de prendre tout l'espace disponible */
	
	flex-wrap: wrap; /* permet de passer à la ligne pour éviter que les éléments ne dépassent de la fenêtre */
	background-color: #E6DDF5;
	transition: transform .2s; /* ajoute une transition pour une animation lorsque le bloc est survolé */
	
}

    
.grp .imageDoc {
    width: 70%; /* définit la largeur de l'image */
    height: auto; /* maintient les proportions de l'image */
    border: 1px solid gray; /* ajoute une bordure autour de l'image */
    margin: 16px; /* ajoute de l'espacement entre les images */
    display:flex;/* affiche les images côte à côte */
	position: static;
	border-radius: 5px; /* ajoute des coins arrondis */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	transition: transform .2s;
	margin-left:30px;
}
.grp .titre {
    text-align: center; /* centre le texte */
    font-weight: bold; /* rend le texte en gras */
    margin: 16px 0; /* ajoute de l'espacement en haut et en bas */
    color: #333; /* change la couleur du texte */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* ajoute une ombre derrière le texte */
	white-space: nowrap;
	font-family: 'Open Sans', sans-serif; /* utilisation d'une police de style médiathèque */
    font-size: 24px; /* augmentation de la taille pour un meilleur rendu */
    color: #333333; /* utilisation d'une belle couleur pour le titre */
    text-align: center; /* alignement central pour un meilleur rendu */
}
.affichageImg{
	width: 80%; /* définit la largeur de l'image */
    height: auto;
	display: flex;
	margin: 16px;
	flex-wrap: wrap;
	display: inline-block;
	align-items: center; /* centre horizontalement les éléments */
    justify-content: center;
	padding: 16px; /* ajoute de l'espacement entre les images et les bords */
    background-color: #f5f5f5; /* ajoute une couleur d'arrière-plan pour un meilleur contraste */
    border-radius: 5px; /* ajoute des coins arrondis */
	position:relative;
	margin-left:10%;
	
}

.titre-container {
    display: flex; /* permet de centrer les éléments à l'intérieur du bloc */
    align-items: center; /* centre horizontalement les éléments */
    justify-content: center; /* centre verticalement les éléments */
    width: 100%; /* prend toute la largeur disponible */
    background-color: #f5f5f5; /* ajoute une couleur d'arrière-plan pour un meilleur contraste */
    border-radius: 10px; /* ajoute des coins arrondis */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* ajoute une ombre derrière le bloc */
    height: auto; /* s'adapte automatiquement à la hauteur du contenu */
    margin: 16px; /* ajoute une marge */
    padding: 8px; /* ajoute de l'espacement entre les bords et le titre */
    
}

.imageDoc:hover {
    transform: scale(1.1); /* agrandit l'image lorsqu'elle est survolée */
}
body {
    background-color: #F5F5F5; /* change la couleur d'arrière-plan */
    background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1); /* ajoute un dégradé */
    background-size: cover; /* remplit tout l'espace disponible */
    background-attachment: fixed; /* empêche le fond de défiler */
}


.grp:hover {
    transform: scale(1.1); /* agrandit le bloc lorsqu'il est survolé */
}

.li_empr{
	list-style-type:none;
}

.empr{
	border:2px solid;
	border-color: #63003c;
	border-radius:24px;
	width:100%;
}

